<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Line Chart</title>

  <link rel="stylesheet" href="line_chart.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>



</head>

<body>
  <div class="chart-con">
    <canvas id="myChart" width="500" height="400"></canvas>
    <div class="values-con">
      <div>
        X:
        <p id="x_val"></p>
      </div>
      <div>
        Y:
        <p id="y_val"></p>
      </div>
    </div>
  </div>
  <!-- <script type="text/javascript" src="ejs.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      var ctx = document.getElementById("myChart").getContext("2d");
      var xval = document.getElementById("x_val");
      var yval = document.getElementById("y_val");

      var data = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
          label: "My Second dataset",
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: [50, 40, 60, 45, 65, 20, 80]
        }]
      };
      var options = {
        animation: false,
        scaleOverride: true,
        scaleSteps: 10,
        scaleStepWidth: 10,
        scaleStartValue: 0
      };

      xval.innerHTML = 100;
      yval.innerHTML = "July";

      var myLineChart = new Chart(ctx).Line(data, options);

      setInterval(function() {






        var nextMonthIndex = months.indexOf(data.labels[data.labels.length - 1]) + 1;
        var nextMonthName = months[nextMonthIndex] != undefined ? months[nextMonthIndex] : "January";

        <%for (var i = 0; i < defaultItems.length; i++) {%>

          if( "<%=defaultItems[i].name%>" === nextMonthName){
            console.log(<%=defaultItems[i].no%>);
            var x=<%=defaultItems[i].no%>;
          }
        <%}%>

        data.labels.push(nextMonthName);


        data.datasets[0].data.push(x);
        data.datasets[0].data.shift();
        xval.innerHTML =x;


        data.labels.shift();
        yval.innerHTML = nextMonthName;




        var myLineChart = new Chart(ctx).Line(data, options);
      }, 1500);



      // function setLabels(labels) {
      //   var nextMonthIndex = months.indexOf(labels[labels.length - 1]) + 1;
      //   var nextMonthName = months[nextMonthIndex] != undefined ? months[nextMonthIndex] : "January";
      //   labels.push(nextMonthName);
      //   labels.shift();
      //   yval.innerHTML = nextMonthName;
      //
      // }

      // function setData(data) {
      //   var x = Math.floor(Math.random() * 100) + 1 ;
      //   data.push(x);
      //   data.shift();
      //   xval.innerHTML = x;
      // }

      function convertMonthNameToNumber(monthName) {
        var myDate = new Date(monthName + " 1, 2022");
        var monthDigit = myDate.getMonth();
        return isNaN(monthDigit) ? 0 : (monthDigit + 1);
      }

      var months = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ];

    });
  </script>
</body>

</html>
